.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 75vh; /* Adjust the height as needed */
    width: 90%; /* You can set a max width */
    margin-top: 4%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
}

.chat-history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f5f5f5;
    font-size: 22px;
}

.chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 70%;
}

.chat-message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end; /* Aligns to the right */
}

.chat-message.bot {
    background-color: #e9e9eb;
    color: black;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.chat-input button:hover {
    background-color: #0056b3;
}
