.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 82vh; /* Adjust the height as needed */
    width: 98%; /* You can set a max width */
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visibility */
}

.chat-history {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #363131;
    font-size: 22px;
}

.chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 70%;
}

.chat-message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end; /* Aligns to the right */
}

.chat-message.bot {
    background-color: #756e6e;
    color: white;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 20px;
    background-color: #363131;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 15px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #1e1b1b;
    color: white;
    border: none;
}

.chat-input input:focus {
    outline: none;
}
