.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #181414;
  height: 85vh;
  margin-top: 1%;
  margin-left: 1%;
  width: 250px;
  overflow-y: auto;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
  flex: 0 0 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-histories-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scroll for individual chat histories */
  scrollbar-color: #696464 transparent;
}

.chat-history-button {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  color: white;
  position: relative;
}

.chat-history-button:hover {
  background-color: #3f3e3e;
}

.chat-delete-button button {
  background: none;
  border: none;
  color: white; /* Adjust delete button color */
  cursor: pointer;
}

.chat-delete-button button:hover {
  color: red; /* Adjust delete button color */
}

.chat-history-sidebar {
  list-style: none;
  font-size: 22px;
  padding-right: 50px; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-new-chat button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9em;
  color: white;
}

.header-new-chat button:hover {
  color: #007bff;
}

.chat-rename-button {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto 0.5rem auto auto;
}

.chat-rename-button:hover {
  color: #000F;
}
