.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #363131;
  height: 80vh;
  margin-top: 3%;
  margin-left: 5px;
  border-radius: 8px;
  width: 250px;
  overflow-y: auto;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
  flex: 0 0 250px;
}

.header-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-histories-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scroll for individual chat histories */
}

.chat-history-button {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  align-items: center; /* Align items vertically */
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  color: white;
}

.chat-history-button:hover {
  background-color: #231e1e;
}

.chat-delete-button button {
  background: none;
  border: none;
  color: white; /* Adjust delete button color */
  cursor: pointer;
}

.chat-delete-button button:hover {
  color: red; /* Adjust delete button color */
}

.chat-history-sidebar {
  list-style: none;
  font-size: 22px;
}

.header-new-chat button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9em;
  color: white;
}

.header-new-chat button:hover {
  color: #007bff;
}
