.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #181414;
  height: 85vh;
  margin-top: 1%;
  margin-left: 1%;
  width: 250px;
  overflow-y: auto;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
  flex: 0 0 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header-sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.chat-histories-sidebar {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Scroll for individual chat histories */
  scrollbar-color: #696464 transparent;
}

.chat-history-button {
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  color: white;
}

.chat-history-button:hover {
  background-color: #3f3e3e;
}

.chat-history-sidebar {
  list-style: none;
  font-size: 22px;
}

.header-new-chat button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 0.9em;
  color: white;
}

.header-new-chat button:hover {
  color: #007bff;
}

